.modal-content {
   /* height: 200px;
    overflow: hidden;
    */

    height: 200px;
    width: 400px;
    margin-left:250px;
    /*max-width: 50%;*/
    /*margin-top: 50px;*/
    /*margin-left:250px;*/
}
::-webkit-scrollbar {
  width: 0px;
}